.notch
{
    background-color: #000;
    margin-top: 10px;
    width: 300px;
    border-radius: 100px;
    justify-content: center;
    position: absolute;
    padding: 10px;
  
}
.contain
{
    display: flex;
    text-align: center;
    justify-content: center;
}